openapi: 3.0.0
info:
  version: '1.0.0'
  title: TeamIQ API
  description: |
    The TeamIQ API provides endpoints for managing user authentication, including registration, login, and password reset.
  contact:
    email: support@teamiq.org

servers:
  - url: 'https://teamiq.org/api/v1'

tags:
  - name: Authentication
    description: Operations related to user authentication

paths:
  /authentication/register:
    post:
      tags:
        - Authentication
      summary: Register a new user
      description: Create a new user account by providing registration data, including the selected strategy.
      operationId: registerUser
      requestBody:
        description: User registration data, including the strategy and associated data.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationDTO'
      responses:
        '201':
          description: User created successfully
        '400':
          description: Invalid input
        '409':
          description: User already exists

  /authentication/authenticate:
    post:
      tags:
        - Authentication
      summary: Authenticate a user
      description: Authenticate a user by providing login credentials.
      operationId: authenticateUser
      requestBody:
        description: User login credentials.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationDTO'
      responses:
        '200':
          description: User authenticated successfully
        '400':
          description: Invalid input (e.g. missing or invalid credentials)

components:
  schemas:
    # Schema for email-based registration
    RegistrationDTO:
      type: object
      properties:
        emailAddress:
          type: string
        password:
          type: string

    AuthenticationDTO:
      type: object
      properties:
        emailAddress:
          type: string
        password:
          type: string


