<div *ngIf="questionsLoaded && currentQuestion != null" class="flex min-h-screen flex-col bg-gray-100">
  <header class="bg-white p-4 shadow-sm">
    <h1 class="text-lg font-semibold">Summer SAT Math Prep &gt; Assignments &gt; Week 1: Percents</h1>
  </header>
  <div class="flex flex-1 flex-col md:flex-row">
    <main class="flex-1 p-6">
      <div class="mx-auto max-w-3xl rounded-lg bg-white p-6 shadow-md">
        <div class="mb-4 flex items-center justify-between">
          <h2 class="text-xl font-bold">Question {{ currentQuestion}}:</h2>
        </div>
        <p class="mb-6 text-lg">{{currentQuestion.question}}</p>
        <div *ngFor="let answer of currentQuestion.answers" class="mb-4 flex items-center space-x-2">
          <p-radioButton
            [inputId]="'option-' + answer.text"
            name="answer"
            [value]="answer.text"
            [(ngModel)]="selectedAnswer"
            (onClick)="handleAnswerSelect(answer.text)">
          </p-radioButton>
          <label
            [for]="'option-' + answer.text"
            class="flex-1 cursor-pointer rounded-md border p-4 hover:bg-gray-50">
            {{answer.text}}
          </label>
        </div>
      </div>
      <div class="mt-6 flex justify-between">
        <button
          pButton
          label="Previous Question"
          icon="pi pi-chevron-left"
          iconPos="left"
          (click)="handlePreviousQuestion()"
          [disabled]="currentQuestionIndex === 0">
        </button>

        <button pButton
                (click)="handleNextQuestion()"
                [disabled]="currentQuestionIndex >= questions.length - 1"
                label="Next Question"
                icon="pi pi-chevron-right"
                iconPos="right">

        </button>
      </div>
    </main>
    <aside class="w-full bg-white p-6 shadow-md md:w-64">
      <h2 class="mb-4 text-xl font-semibold">All Questions:</h2>
      <p-scrollPanel [style]="{height: 'calc(100vh - 12rem)'}">
        <div *ngFor="let question of questions; let i = index" class="mb-2 flex items-center">
          <p-checkbox
            [inputId]="'question-' + question.id"
            [binary]="true"
            [ngModel]="completedQuestions.includes(question.id || -1) ">
          </p-checkbox>
          <label
            [for]="'question-' + question.id"
            class="ml-2 cursor-pointer"
            [class.font-bold]="i === currentQuestionIndex"
            (click)="setQuestionIndex(i)">
            Question {{ question.id }}
          </label>
        </div>
      </p-scrollPanel>
    </aside>
  </div>
</div>
