<form [formGroup]="editTitleForm" (ngSubmit)="submit()">
  <div class="flex flex-col">
    <div class="p-field">
      <input id="title" pInputText formControlName="title" maxlength="255" placeholder="Enter title here..." class="w-1/2 titleTextField"/>
      <small *ngIf="editTitleForm.get('title')?.hasError('maxlength') === true" class="p-error">
        Title cannot exceed 255 characters.
      </small>
      <small *ngIf="editTitleForm.get('title')?.hasError('required') === true" class="p-error">
        Title is required.
      </small>
    </div>
    <div class="flex flex-row justify-end items-center gap-5" style="padding-top: 25px">
      <p-button type="button" label="Cancel" (click)="close()"></p-button>
      <p-button type="submit" label="Save" [disabled]="editTitleForm.invalid"></p-button>
    </div>
  </div>
</form>
