<p-menubar>
  <div class="p-menubar-start">
    <span class="p-menubar-item">Admin Dashboard</span>
  </div>
  <div class="p-menubar-end">
    <button pButton label="Logout" icon="pi pi-sign-out"></button>
  </div>
</p-menubar>

<div class="flex flex-row">
  <div style="width: 250px;">
    <p-listbox [options]="tabs" [(ngModel)]="selectedTab" optionLabel="label" (onChange)="onTabChange($event)">
    </p-listbox>
  </div>
  <div class="w-full pl-10 pr-10 pt-5 pb-5">
    <div *ngIf="selectedTab.value === 'users'">
      <admin-user-dashboard></admin-user-dashboard>
    </div>
    <div *ngIf="selectedTab.value === 'questionBank'">
      <admin-question-bank-dashboard></admin-question-bank-dashboard>
    </div>
  </div>
</div>
