<div class="flex flex-col p-4">
  <!-- Tree for displaying categories -->
  <p-tree
    class="w-full"
    [value]="categoryTree"
    [selectionMode]=" multiple ? 'multiple' : 'single'"
    [(selection)]="selectedCategories"
    [propagateSelectionDown]="false"
    [propagateSelectionUp]="false"
  ></p-tree>

  <!-- Buttons for confirming or canceling selection -->
  <div class="flex justify-end mt-4 gap-4">
    <button
      pButton
      type="button"
      [label]="getContinueButtonText()"
      icon="pi pi-check"
      (click)="confirmSelection()"
      [disabled]="getContinueButtonDisabled()">
    </button>

    <button
      pButton
      type="button"
      label="Cancel"
      icon="pi pi-times"
      (click)="cancel()">
    </button>
  </div>
</div>
