<app-course-side-bar>
  <div class="lms-page-container">
    <p-menubar [model]="menuItems" class="mb-4">
    </p-menubar>
    <p-accordion *ngIf="courseModules" class="w-full" [multiple]="true" (activeIndexChange)="onActiveIndeciesChanged($event)" expandIcon="" collapseIcon="">
      <p-accordionTab *ngFor="let module of courseModules; index as moduleIdx">
        <ng-template pTemplate="icon">
          <ng-container *ngIf="activeModuleIndecies[moduleIdx] == true; else moduleClosed">
            <span class="pi pi-angle-down text-color-primary"></span>
          </ng-container>
          <ng-template #moduleClosed>
            <span class="pi pi-angle-right text-color-primary max-h-f"></span>
          </ng-template>
        </ng-template>
        <ng-template pTemplate="header">
          <span class="flex justify-between w-full text-color-primary">
            <span class="white-space-nowrap text-color-primary" style="color: var(--text-color); margin-left: 1.25rem;">
              {{ module?.title }}
            </span>
            <div class="flex flex-row gap-3">
              <!-- todo: figure out how to get this to show up \\\ or just remove it -->
              <button pButton type="button" label="Add Item" icon="pi pi-plus" class="ml-auto" (click)="showAddAssignmentModal(module); $event.stopPropagation()" [disabled]="false" ></button>
              <button pButton type="button" label="Remove Item" icon="pi pi-minus" class="ml-auto" (click)="showRemoveModuleItemsModal(module); $event.stopPropagation()"></button>
            </div>
          </span>
        </ng-template>
        <div>
          <ng-container *ngIf="module.id">
            <p-table [value]="moduleItems[module.id]" responsiveLayout="scroll" styleClass="p-datatable-striped" selectionMode="single">
              <ng-template pTemplate="body" let-moduleItem>
                <tr *ngIf="moduleItem" (click)="openModuleItem(moduleItem)" class="cursor-pointer">
                  <td>{{ moduleItem.assignment?.name }}</td>
                  <td>{{ moduleItem.assignment?.description }}</td>
                  <td>{{ moduleItem.assignment?.dueDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                  <td>{{ moduleItem.assignment?.startDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                  <td><div class="flex justify-end"><span class="pi pi-angle-double-right text-color-primary"></span></div></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <div class="flex flex-col gap-5 justify-center items-center">
                  <span class="text-color-primary">No items found.</span>
                  <div class="flex flex-row gap-3">
                  <p-button label="Add Item" icon="pi pi-plus" class="ml-4" (click)="showAddAssignmentModal(module); $event.stopPropagation()" [disabled]="false"></p-button>
                  <p-button label="Refresh" icon="pi pi-refresh" class="ml-4" (click)="loadModuleItems(module); $event.stopPropagation()"></p-button>
                  </div>
                </div>
              </ng-template>
            </p-table>
          </ng-container>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</app-course-side-bar>
