<p-card [style]="{'width': '100%', 'maxWidth': '28rem'}">
  <div class="space-y-4">
    <div class="flex items-center justify-between">
      <span class="text-3xl font-bold">{{ grade }}/{{ maxGrade }}</span>
    </div>
    <p-progressBar [value]="grade"></p-progressBar>
    <div class="flex justify-between text-sm text-muted">
      <div class="flex items-center">
        <i class="pi pi-calendar-plus mr-2" style="width: 1rem; height: 1rem;"></i>
        <span>Due: {{ formattedDueDate }}</span>
      </div>
      <div class="flex items-center">
        <i class="pi pi-file mr-2" style="width: 1rem; height: 1rem;"></i>
        <span>Submitted: {{ formattedSubmissionDate }}</span>
      </div>
    </div>
  </div>
</p-card>
