<nav>
  <div class="navbar-container">
    <div class="h-full flex items-center">
      <img src="assets/Logo-text-only.svg" class="navbar-logo" alt="Logo">
      <span class="navbar-logo-title">Beta</span>
      <div class="navbar-vertical-divider"> </div>
      <div class="flex flex-row justify-center items-center" style="margin-left: 11px; gap: 15px;">
        <div class="navbar-page-nav-text hover-appear-underline" routerLink="/login" style="color: black;">Purpose</div>
        <div class="navbar-page-nav-text hover-appear-underline" routerLink="/login">Products</div>
        <div class="navbar-page-nav-text hover-appear-underline" routerLink="/login">Pricing</div>
      </div>
    </div>

    <div class="navbar-right-container">
      <div class="flex flex-row justify-center items-center gap-3">
        <div class="navbar-login-container" routerLink="/login"><span class="hover-appear-underline">Sign in</span></div>
        <div class="navbar-waitlist-container" routerLink="/register">Join the Waitlist</div>
      </div>
    </div>
  </div>
</nav>
