<div class="flex flex-col gap-4 mb-4">
  <ng-container *ngIf="!multiple else multipleSelect">
    <p-dropdown
      [options]="courses"
      optionLabel="name"
      placeholder="Select Category"
      [ngModel] = "selectedCourses"
      (ngModelChange)="onCourseChange($event)"
      appendTo="body"
    >
    </p-dropdown>
  </ng-container>
  <ng-template #multipleSelect>
    <p-multiSelect
      [options]="courses"
      optionLabel="name"
      placeholder="Select Courses"
      [ngModel] = "selectedCourses"
      (ngModelChange)="onCourseChange($event)"
      appendTo="body"
    >
    </p-multiSelect>
  </ng-template>
</div>
